<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=ChatApp;User Id=TEN_USER;Password=MATKHAU_CUA_BAN;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="GmailAddress" value="roknpc1001@gmail.com" />
		<add key="GmailAppPassword" value="ipcduvuafzidgbfo" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>