<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=ChatApp;User Id=TEN_USER;Password=MATKHAU_CUA_BAN;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>